# ==================================================
# PostgreSQL
# ==================================================

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# ==================================================
# Endpoint
# ==================================================

ENDPOINT_URL= https://webhook.site/4e10af9e-ca19-463f-bbeb-0d2515b852f2
# API_KEY=your_api_key

# ==================================================
# Application
# ==================================================

REQUEST_TIMEOUT=
MAX_RETRY=
LOG_LEVEL=
RETRY_POLL_INTERVAL=

