# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv


# Environment
.env

#command
command.txt

# Logs
logs/
cmd.txt
gammu-smsd
app/__init__.py
scripts/__init__.py
