#after hardware setup  uncomment the below lines

[Unit]
Description=SMS Forwarder Retry Worker
After=network.target postgresql.service gammu-smsd.service
Wants=network.target
Requires=gammu-smsd.service

[Service]
Type=simple
User=kali
Group=kali
WorkingDirectory=/home/kali/Projects/sms-forwarder
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/kali/Projects/sms-forwarder/.venv/bin/python -m scripts.retry_worker
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target